/* Created by: Zaida Hammel */

/* Created on: March 2021 */

/* This file contains the css styling for index.html */

body {
  background-color: rgb(200 209 219);
}

.mdl-layout__header {
  background-color: rgb(173 173 173);
  padding: 20px;
  border: 2px solid rgb(59 59 59);
  border-radius: 1px;
}

.mdl-layout-title {
  font-size: 2.5rem;
  font-family: "Times New Roman", Times, serif;
  margin: auto;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 270px;
  height: 260px;
  border: 2px solid rgb(59 59 59);
  border-radius: 50%;
}

h2 {
  color: white;
  font-size: 2rem;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  border: 2px solid rgb(59 59 59);
  border-radius: 1px;
}

p {
  font-family: "Times New Roman", Times, serif;
  color: white;
  text-align: center;
  font-size: 1.25rem;
}

.demo-list-item {
  width: 300px;
}

.mdl-list__item-primary-content {
  font-family: "Times New Roman", Times, serif;
  color: white;
  font-size: 1.25rem;
}
